/* Global Styles */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 35px;
    text-align: center;
}

button, label {
    width: fit-content;
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
}

/* Graph Containers */
#graph-container, #associated-graph-container {
    background-color: #f0f0f0;
    border-radius: 5px;
    position: relative;
}

#graph-container {
    border: 3px solid grey;
    margin-bottom: 10px;
    max-width: 600px;
}

#associated-graph-container {
    border: 1px solid black;
}

/* Container Divs */
#svg-container, #graph-container-div, #associated-graph-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#svg-container {
    flex-direction: row;
}

#associated-graph-div {
    width: 800px;
}

/* SVG Styles */
.circle {
    fill: steelblue;
    cursor: pointer;
}

.circle.glow, .line.active {
    fill: orange;
    stroke: orange;
}

.circle.active {
    fill: red;
}

.circle:hover {
    fill: orangered;
}

.line {
    stroke: #666;
    stroke-width: 2px;
}

.vertex-id {
    font-size: 10px;
}

/* Specific Container Styles */
#associated-graph-svg-container {
    max-width: 600px;
    padding-bottom: 10%; /* This creates an aspect ratio */
}

#side-div {
    background-color: #c4c4c4;
    border-radius: 5px;
    border: 3px solid grey;
    padding: 5px;
}

#parameter-container p {
    text-align: center;
}
